* =========1============ */

.obj {
padding: 20px;
border: 1px solid black;
}
 .map {
	position:absolute ;
	right: -200px;
	top: 20px;
margin-right: 300px;
 	color: black;
 	border: 2px solid black;
        height: 100%;
        background: gray;
        width: 400px;
        height: 400px;
        
      }
.button {
	position:relative;

	border:1px solid #000000; 
	background-color: gray;
	 color:#000000;
	  width:200px;
	  height:20px;
	}
	
